@import "tailwindcss";

@theme {
    --color-accent: #f91111;
    --color-highlight: #aed318;

    --color-bg: #f1f1ef;
    --color-grey: #f3eeee;
    --color-lighter-bg: #f2f2f2;
    --color-dark: #2f2f2f;
    --color-p: #606060;
    --color-inactive: #c2c2c2;
    --font-serif: "Lustria", serif;
    --font-mono: "Intel One Mono", monospace;
}

@layer base {
    body {
        font-family: var(--font-mono);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3;
        color: var(--color-p);
    }

    h1 {
        font-family: var(--font-serif);
        font-size: 4rem;
        font-weight: 100;
        line-height: 1.2;
        color: var(--color-dark);
    }

    h2 {
        font-family: var(--font-serif);
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2;
        color: var(--color-dark);
    }

    h3 {
        font-family: var(--font-mono);
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2;
        color: var(--color-dark);
    }

    p {
        font-family: var(--font-mono);
        font-size: 1rem;
        line-height: 1.3;
    }
}
